<div class="container">
  <div>
    <h2>Modifier un Produit :</h2>
  </div>
  <form >
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label >ID Produit</label>
      <input type="text" [(ngModel)]="currentProduct.idProduct"
             name="id" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
      <label >Nom Produit</label>
      <input type="text"[(ngModel)]= "currentProduct.productName"
             name="name" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label >Prix Produit</label>
      <input type="number" [(ngModel)]= "currentProduct.productPrice"
             name="price" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label >Date création</label>
      <input type="date"
             [(ngModel)]="currentProduct.creationDate"
             (ngModelChange)="onDateChange($event)"
             name="creationDate"
             class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <select class="form-control form-control-lg" id="idCat" name="idCat"
              [(ngModel)]="updatedCatId">
        <option *ngFor="let cat of categories" [value]="cat.idCat" >
          {{cat.catName}}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button type="submit" (click)="updateProduct()" class="btn btn-success">Modifier</button>
    </div>
  </form>
</div>
